# Flutter/Dart/Pub related
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub-cache/
build/
.idea/
android/.gradle/
android/.idea/
android/local.properties
android/app/proguard-rules.pro
android/app/build/
android/gradle/
android/gradlew
android/gradlew.bat
android/gradle-wrapper.jar
android/gradle-wrapper.properties

# Kotlin/Java related
*.iml
.gradle/
build/
local.properties
.idea/
.DS_Store
*.log
*.keystore
*.jks
*.class
*.jar
*.war
*.ear
*.db
*.h2.db
*.mv.db
*.sqlite
*.sql
*.sqlite3
*.db-journal
*.db-shm
*.db-wal
*.sqlite-journal
*.sqlite-shm
*.sqlite-wal

# C++ related
*.o
*.obj
*.so
*.exe
*.dll
*.dylib
*.lib
*.a
*.la
*.lo
*.slo
*.Plo
*.lai
*.lai~